# Camada Bronze (dados locais, preservamos apenas estrutura vazia)
/data/bronze/
!data/bronze/.gitkeep

# Camada Silver
/data/silver/
!data/silver/.gitkeep

# Artefatos do Python
__pycache__/
*.py[cod]

# Ambientes virtuais e variáveis de ambiente
.env
venv/
